# Theme Name: Cyan// 14
# Milestone: 5 — polish / 14-Terminus comparison profile
# Target: iRiver H120/H140, 160x128x2
# License: CC-BY-SA-3.0
#
# Comparison profile A. All typography profiles share Cyan.sbs; only the
# browser/menu font changes.

font: /.rockbox/fonts/14-Terminus.fnt
sbs: /.rockbox/wps/Cyan.sbs
wps: /.rockbox/wps/Cyan.wps
fms: /.rockbox/wps/Cyan.fms
rfms: /.rockbox/wps/Cyan.rfms
remote font: /.rockbox/fonts/10-ProFont.fnt
rwps: /.rockbox/wps/Cyan.rwps
rsbs: /.rockbox/wps/Cyan.rsbs

selector type: bar (inverse)
statusbar: off
remote statusbar: off
scrollbar: off
show icons: on
iconset: /.rockbox/icons/Cyan-13.bmp
viewers iconset: -
backdrop: -
playlist viewer icons: on
battery display: numeric
volume display: numeric
